<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fido.fcnetworksite.dao.CommentDao">
    <resultMap id="CommentResultMap" type="com.fido.fcnetworksite.entity.CommentEntity">
        <id column="c_comment_id" property="commentId"/>
        <result column="c_content" property="content"/>
        <result column="c_mood_id" property="moodId"/>
        <result column="c_user_id" property="userId"/>
        <result column="c_create_time" property="createTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_is_deleted" property="isDeleted"/>
        <result column="c_is_read" property="isRead"/>
    </resultMap>
    <sql id="Base_Column_List">
    c_comment_id,c_content,c_mood_id,c_user_id,c_create_time,c_is_read
  </sql>
    <insert id="insert" parameterType="com.fido.fcnetworksite.entity.CommentEntity">
    INSERT INTO t_comment (c_mood_id, c_user_id,c_content)
    VALUES (#{moodId},
            #{userId},
            #{content})
    </insert>
    <select id="select" resultMap="CommentResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_comment WHERE c_mood_id=#{moodId}
        AND c_is_deleted !=1 order by c_create_time desc
    </select>
    <update id="delete" parameterType="java.lang.Integer">
    UPDATE t_comment
    SET c_is_deleted= 1
    WHERE c_comment_id = #{commentId}
  </update>
    <update id="readComment" parameterType="java.lang.Integer">
    UPDATE t_comment
    SET c_is_read= 1
    WHERE c_comment_id = #{commentId}
  </update>
</mapper>