<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fido.fcnetworksite.dao.MoodDao">
    <resultMap id="MoodResultMap" type="com.fido.fcnetworksite.entity.MoodEntity">
        <id column="c_mood_id" property="moodId"/>
        <result column="c_mood_content" property="content"/>
        <result column="c_user_id" property="userId"/>
        <result column="c_create_time" property="createTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_is_deleted" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    c_mood_id,c_mood_content,c_user_id
  </sql>
    <insert id="insertMood" parameterType="com.fido.fcnetworksite.entity.MoodEntity">
        insert INTO t_mood (c_useri_id, c_mood_content)
        VALUES (#{userId},
                #{content}
    </insert>
    <select id="selectMoodByUserId" resultMap="MoodResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mood where c_user_id=#{userId}
    </select>
    <select id="selectMoodLikeContent" resultMap="MoodResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mood where c_mood_content like "%"#{content}"%"
    </select>
    <update id="deleteMood" parameterType="java.lang.Integer">
    update t_mood
    set c_is_deleted= 1,
    where c_mood_id = #{moodId}
  </update>
</mapper>