<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fido.fcnetworksite.dao.MoodDao">
    <resultMap id="MoodResultMap" type="com.fido.fcnetworksite.entity.MoodEntity">
        <id column="c_mood_id" property="moodId"/>
        <result column="c_mood_content" property="content"/>
        <result column="c_user_id" property="userId"/>
        <result column="c_comment_count" property="commentCount"/>
        <result column="c_like_count" property="likeCount"/>
        <result column="c_create_time" property="createTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_is_deleted" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    c_mood_id,c_mood_content,c_user_id,c_comment_count,c_like_count
  </sql>
    <insert id="insertMood" useGeneratedKeys="true" keyProperty="moodId"
            parameterType="com.fido.fcnetworksite.entity.MoodEntity">
        INSERT INTO t_mood (c_user_id, c_mood_content)
        VALUES (#{userId},
        #{content})
    </insert>
    <update id="updateMoodInfo">
        UPDATE t_mood SET c_comment_count=#{commentCount} AND c_like_count=#{likeCount}
        WHERE c_mood_id=#{moodId}
    </update>

    <select id="selectMoodByUserId" resultMap="MoodResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_mood WHERE c_user_id=#{userId} AND c_is_deleted= 0
    </select>
    <select id="selectMoodLikeContent" resultMap="MoodResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_mood WHERE c_mood_content LIKE "%"#{content}"%" AND c_is_deleted= 0
    </select>
    <select id="countMoodLikeContent" resultType="java.lang.Long">
        SELECT
        COUNT(c_mood_id)
        FROM t_mood WHERE c_mood_content LIKE "%"#{content}"%" AND c_is_deleted= 0
    </select>
    <select id="countMoodByUserId" resultType="java.lang.Long">
        SELECT
        COUNT(c_mood_id)
        FROM t_mood WHERE c_user_id = #{userId} AND c_is_deleted= 0
    </select>
    <update id="deleteMood" parameterType="java.lang.Integer">
    UPDATE t_mood
    SET c_is_deleted= 1
    WHERE c_mood_id = #{moodId}
  </update>
</mapper>