<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fido.fcnetworksite.dao.UserDao">
    <resultMap id="UserResultMap" type="com.fido.fcnetworksite.entity.UserEntity">
        <id column="c_user_id" property="userId" javaType="java.lang.Long"/>
        <result column="c_status" property="status"/>
        <result column="c_email" property="email"/>
        <result column="c_nickname" property="nickName"/>
        <result column="c_password" property="password"/>
        <result column="c_create_time" property="createTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_sex" property="sex"/>
        <result column="c_birthday" property="birthday"/>
        <result column="c_photo_url" property="photoUrl"/>
        <result column="c_salt" property="salt"/>
        <result column="c_introduction" property="introduction"/>
    </resultMap>
    <sql id="Base_Column_List">
    c_user_id, c_nickname, c_sex,c_birthday,c_photo_url,c_introduction,c_create_time
  </sql>
    <sql id="Extend_Column_List">
        c_password,c_salt
    </sql>
    <insert id="saveUser" parameterType="com.fido.fcnetworksite.entity.UserEntity">
        INSERT INTO t_user (c_email, c_nickname, c_password,c_salt, c_sex,c_birthday,c_photo_url,c_introduction)
        VALUES (#{email},
                #{nickName},
                #{password},
                #{salt},
                #{sex,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{birthday},
                #{photoUrl},
                #{introduction})
    </insert>
    <update id="updateUserInfo" parameterType="com.fido.fcnetworksite.entity.UserEntity">
    UPDATE t_user
    SET c_nickname = #{user.nickName},
      c_sex = #{user.sex},
      c_birthday = #{user.birthday},
      c_photo_url = #{user.photoUrl},
      c_introduction=#{user.introduction}
    WHERE c_user_id = #{user.userId}
  </update>
    <update id="updateUserPassword">
    UPDATE t_user
    SET c_password = #{password},
      c_salt = #{salt}
    WHERE c_email= #{email}
  </update>
    <select id="findUserById" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="Extend_Column_List"/>
        FROM t_user WHERE c_user_id=#{userId}
    </select>
    <select id="findUserByEmail" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="Extend_Column_List"/>
        FROM t_user WHERE c_email=#{email}
    </select>
    <select id="findUserLikeName" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user WHERE c_nickname LIKE "%"#{nickName}"%"
    </select>
    <select id="findUserByName" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user WHERE c_nickname =#{nickName}
    </select>
    <select id="batchListUser" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user WHERE c_user_id IN (
        <foreach collection="userIdList" item="userId" separator=",">
            #{userId}
        </foreach>
        )
    </select>

    <update id="freezeUser" parameterType="java.lang.Long">
    UPDATE t_user
    SET c_status = 1
    WHERE c_user_id = #{userId}
  </update>

    <update id="unFreezeUser" parameterType="java.lang.Long">
    UPDATE t_user
    SET c_status = 0
    WHERE c_user_id = #{userId}
    </update>

    <update id="passUser" parameterType="java.lang.Long">
    UPDATE t_user
    SET c_status = 0
    WHERE c_user_id = #{userId}
  </update>

    <update id="rejectUser" parameterType="java.lang.Long">
    UPDATE t_user
    SET c_status = 3
    WHERE c_user_id = #{userId}
  </update>

    <select id="selectUser" resultMap="UserResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user WHERE c_status = #{state}
        <if test="userName!=null">
            AND c_nickname LIKE "%"#{userName}"%"
        </if>
        ORDER BY c_create_time DESC
        LIMIT #{start},#{pageSize}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        SELECT count(*) from ( SELECT
        <include refid="Base_Column_List"/>
        FROM t_user WHERE c_status = #{state}
        <if test="userName!=null">
            AND c_nickname LIKE "%"#{userName}"%"
        </if>) t1
    </select>

</mapper>