<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fido.fcnetworksite.dao.UserDao">
    <resultMap id="UserResultMap" type="com.fido.fcnetworksite.entity.UserEntity">
        <id column="c_user_id" property="userId"/>
        <result column="c_status" property="status"/>
        <result column="c_email" property="email"/>
        <result column="c_nickname" property="nickName"/>
        <result column="c_password" property="password"/>
        <result column="c_create_time" property="createTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_sex" property="sex"/>
        <result column="c_birthday" property="birthday"/>
        <result column="c_photo_url" property="photoUrl"/>
        <result column="c_salt" property="salt"/>
    </resultMap>
    <sql id="Base_Column_List">
    c_user_id, c_nickname, c_sex, c_birthday,c_photo_url,c_create_time
  </sql>
    <sql id="Extend_Column_List">
        c_password,c_salt
    </sql>
    <insert id="saveUser" parameterType="com.fido.fcnetworksite.entity.UserEntity">
        insert INTO t_user (c_email, c_nickname, c_password,c_salt, c_sex,c_birthday,c_photo_url)
        VALUES (#{email},
                #{nickName},
                #{password},
                #{salt},
                #{sex,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{birthday},
                #{photoUrl})
    </insert>
    <update id="updateUserInfo" parameterType="com.fido.fcnetworksite.entity.UserEntity">
    update t_user
    set c_nickname = #{user.nickName},
      c_sex = #{user.sex},
      c_birthday = #{user.birthday},
      c_photo_url = #{user.photoUrl}
    where c_user_id = #{user.userId}
  </update>
    <update id="updateUserPassword">
    update t_user
    set c_password = #{password},
      c_salt = #{salt}
    where c_user_id = #{email}
  </update>
    <select id="findUserById" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        <include refid="Extend_Column_List"/>
        from t_user where c_user_id=#{userId}
    </select>
    <select id="findUserByEmail" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        <include refid="Extend_Column_List"/>
        from t_user where c_email=#{email}
    </select>
    <select id="findUserLikeName" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user where c_nickname like "%"#{nickName}"%"
    </select>
    <select id="findUserByName" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user where c_nickname =#{nickName}
    </select>
    <update id="freezeUser" parameterType="java.lang.Integer">
    update t_user
    set c_staus = 1,
    where c_user_id = #{userId}
  </update>
    <update id="unFreezeUser" parameterType="java.lang.Integer">
    update t_user
    set c_staus = 0,
    where c_user_id = #{userId}
  </update>
</mapper>